@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}



/* Animación escribir + borrar */
@keyframes typing {
    0%   { width: 0 }
    40%  { width: 20ch }   /* termina de escribir */
    85%  { width: 20ch }   /* sigue quieto */
    100%  { width: 20ch }   /* pausa extra justo antes de borrar */
    100% { width: 0 }      /* borra hacia atrás */
  }
  
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgb(167, 236, 238); /* cursor */
    width: 0;
  
    /* Texto con neón */
    color: #ffffff; 
    text-shadow: 
      0 0 1px #ffffff,
      0 0 1px #ffffff,
      0 0 2px #ffffff;
  
  
    animation: typing 6s steps(24, end) infinite, blink 0.75s step-end infinite;
  }
  
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}