@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}



/* Animación escribir + borrar */
@keyframes typing {
    0%   { width: 0 }
    40%  { width: 20ch }   /* termina de escribir */
    85%  { width: 20ch }   /* sigue quieto */
    100%  { width: 20ch }   /* pausa extra justo antes de borrar */
    100% { width: 0 }      /* borra hacia atrás */
  }
  
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgb(167, 236, 238); /* cursor */
    width: 0;
  
    /* Texto con neón */
    color: #ffffff; 
    text-shadow: 
      0 0 1px #ffffff,
      0 0 1px #ffffff,
      0 0 2px #ffffff;
  
  
    animation: typing 6s steps(24, end) infinite, blink 0.75s step-end infinite;
  }
  
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}


@keyframes shake-mail {
  0%, 100% { transform: rotate(0deg); }
  20% { transform: rotate(-6deg); }
  40% { transform: rotate(6deg); }
  60% { transform: rotate(-4deg); }
  80% { transform: rotate(4deg); }
}

.animate-shake-mail {
  animation: shake-mail 1s infinite ease-in-out;
}

@keyframes neon-pulse {
  0%, 100% {
    text-shadow:
      0 0 4px rgba(0, 191, 255, 0.4),
      0 0 8px rgba(0, 191, 255, 0.4),
      0 0 12px rgba(0, 191, 255, 0.3);
  }

  50% {
    text-shadow:
      0 0 10px rgba(0, 191, 255, 1),
      0 0 20px rgba(0, 191, 255, 0.9),
      0 0 35px rgba(0, 191, 255, 0.8);
  }
}

.animate-neon {
  animation: neon-pulse 2.8s ease-in-out infinite;
}