@import "tailwindcss";

/* Animación escribir + borrar */
@keyframes typing {
    0%   { width: 0 }
    40%  { width: 20ch }   /* termina de escribir */
    85%  { width: 20ch }   /* sigue quieto */
    100%  { width: 20ch }   /* pausa extra justo antes de borrar */
    100% { width: 0 }      /* borra hacia atrás */
  }
  
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgb(143, 233, 233); /* cursor */
    width: 0;
  
    /* Texto con neón más oscuro y menos difuminado */
    color: #8ef7f7; 
    text-shadow: 
      0 0 1px #5affff,
      0 0 2px #54eded,
      0 0 3px #34e0e0;
  
  
    animation: typing 6s steps(24, end) infinite, blink 0.75s step-end infinite;
  }
  